%div.me-5.display-center.flex-column.custom-color-title
	= participant.name
	%div{ id: participant.uuid, class: "fs-4 estimate-card display-center #{set_card_voted(participant.estimate)}" }
		= "#{participant.estimate && (!@room.is_hidden || @user_session_id == participant.user_session_id) ? participant.estimate : '?'}"