.container.mt-5
	.row 
		.col-6
			.card 
				.card-header
					Planning Poker
				.card-body
					= form_with url: new_room_path, method: :get do |f|
						= f.label :name
						%br
						= f.text_field :name, placeholder: 'Write your name here', required: true, maxlength: 12
						= f.submit 'Create new Room', class: 'btn btn-sm btn-secondary'