%footer.border-top.footer.mt-auto.py-2.px-5
	.div
		%span.text-muted 
			Developed by {
			%a{ href: 'https://github.com/Lucas-dos-Santos', target: '_blank' }
				%i.fa-brands.fa-github.text-dark
			}
	%ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
		%li.ms-3
			%a.text-muted{ href: 'https://medium.com/@lukke94', target: '_blank' }
				%i.fa-brands.fa-medium
		%li.ms-3
			%a.text-muted{ href: 'https://www.instagram.com/lucas._luke/', target: '_blank' }
				%i.fa-brands.fa-instagram
