%nav.navbar.bg-custom-color.display-center
	%h2.text-custom-color.font-monospace Planning Poker Free

.icons.display-center
	%a{ href: 'https://github.com/Lucas-dos-Santos', target: '_blank'}
		%i.fa-brands.fa-github.fa-2x